.code{
    display: grid;
    min-width: 100%;
    overflow-wrap: break-word;
    border-radius: 0;
    border-width: 0;
    background-color: transparent;
    padding: 0;
    counter-reset: line;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.line{
    display: inline-block;
    min-height: 1rem;
    width: 100%;
    padding: 0.125rem 1rem;

}